// @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
html *
{
   font-family: 'Robot', sans-serif;
}
html, body, #node {
  height: 100%;
}
iframe {
    display: block;
    border: none;
    height: calc(100vh - 135px) !important;
    width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #f8f8f8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon-32 {
  width: 2em;
  height: 2em;
}
.svg-icon-48 {
  width: 2.5em;
  height: 2.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #797979;
  border: 0px none #ff2600;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}
::-webkit-scrollbar-thumb:active {
  background: #424242;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 1px;
}
::-webkit-scrollbar-track:hover {
  background: #fefdff;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.mainwrapper-appear {
  opacity: 0.01;
}

.mainwrapper-appear.mainwrapper-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
.mainwrapper-enter {
  opacity: 0.01;
}

.mainwrapper-enter.mainwrapper-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.mainwrapper-leave {
  opacity: 1;
}

.mainwrapper-leave.mainwrapper-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}
